Repository Coding-in-community/alice, pull requests merged in 2021-08, with the labels that each got.

#39 [FEAT] response to multiple events & callback to 'group_join' event
  index.js
  src/Alice.js
  src/build/Commands.js
Labels: core, enhancement

#40 REFACTOR
  index.js
  src/commands/about.js
  src/commands/bot.js
  src/commands/coin.js
  src/commands/commands.js
  src/commands/cron.js
  src/commands/doc.js
  src/commands/index.js
  src/commands/links.js
  src/commands/lyric.js
  src/commands/report.js
  src/commands/search.js
  src/commands/suggest.js
  src/commands/wiki.js
Labels: Improve, command

#41 [FEAT] implements some kwargs and methods in !search and !cron
  src/commands/cron.js
  src/commands/lyric.js
  src/commands/search.js
  src/utils/search.js
Labels: command

#43 [REFACTOR][FIX] updates !commands & throws an error when a private chat is passed to getAdmsList
  src/commands/commands.js
  src/utils/chattools.js
Labels: command

#44 [FEAT] Adds !everyone command & updates command !command
  index.js
  src/commands/commands.js
  src/commands/everyone.js
  src/commands/index.js
Labels: command

#45 [FEAT] adds and uses Command util
  src/commands/about.js
  src/commands/coin.js
  src/commands/commands.js
  src/commands/cron.js
  src/commands/everyone.js
  src/commands/links.js
  src/commands/lyric.js
  src/commands/report.js
  src/commands/search.js
  src/commands/suggest.js
  src/commands/wiki.js
  src/utils/Command.js
  src/utils/index.js
Labels: enhancement, command

#46 [DOCS] updates readme and contribute files
  Aptfile
  CONTRIBUTE.md
  CONTRIBUTE.pt.md
  CONTRIBUTE_pt.md
  Procfile
  README.md
  README.pt.md
  package.json
Labels: documentation

#48 [REFACTOR] uses cheerio instead of JSSoup
  package-lock.json
  package.json
  src/commands/lyric.js
Labels: command

#49 [FEAT] New command structure & introduces modules
  index.js
  src/Alice.js
  src/build/Commands.js
  src/commands/about.js
  src/commands/coin.js
  src/commands/commands.js
  src/commands/cron.js
  src/commands/everyone.js
  src/commands/index.js
  src/commands/links.js
  src/commands/lyric.js
  src/commands/report.js
  src/commands/search.js
  src/commands/suggest.js
  src/commands/wiki.js
  src/modules/banBlacklistedUser.js
  src/modules/index.js
  src/modules/welcome.js
  src/utils/index.js
  src/utils/inhibitor.js
Labels: Improve, enhancement, core, command

#50 [FEAT] new control commands
  src/commands/ban.js
  src/commands/commands.js
  src/commands/demote.js
  src/commands/index.js
  src/commands/promote.js
Labels: command
